In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import r2_score

## Citations
Source 1: 'Intermediate Data Cleaning' by Kevin Crystal, GA-DSI alumn
- https://medium.com/@kevin.a.crystal/intermediate-data-cleaning-195e1af3ccf9
- Mostly used for conceptual approach to cleaning.  Noted in code notes if actual code used.


Source 2:

In [10]:
pd.set_option('display.max_rows',None)

In [15]:
ames = pd.read_csv('./datasets/train.csv')

In [16]:
ames.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [18]:
ames.columns = ames.columns.str.lower().str.replace(" ","_")
ames.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [21]:
ames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2051 non-null   int64
 1   pid              2051 non-null   int64
 2   ms_subclass      2051 non-null   int64
 3   ms_zoning        2051 non-null   object
 4   lot_frontage     1721 non-null   float64
 5   lot_area         2051 non-null   int64
 6   street           2051 non-null   object
 7   alley            140 non-null    object
 8   lot_shape        2051 non-null   object
 9   land_contour     2051 non-null   object
 10  utilities        2051 non-null   object
 11  lot_config       2051 non-null   object
 12  land_slope       2051 non-null   object
 13  neighborhood     2051 non-null   object
 14  condition_1      2051 non-null   object
 15  condition_2      2051 non-null   object
 16  bldg_type        2051 non-null   object
 17  house_style      2051 non-null   object
 18  overall_qual     2051 non-null   int64
 19  overall_cond     2051 non-null   int64
 20  year_built       2051 non-null   int64
 21  year_remod/add   2051 non-null   int64
 22  roof_style       2051 non-null   object
 23  roof_matl        2051 non-null   object
 24  exterior_1st     2051 non-null   object
 25  exterior_2nd     2051 non-null   object
 26  mas_vnr_type     2029 non-null   object
 27  mas_vnr_area     2029 non-null   float64
 28  exter_qual       2051 non-null   object
 29  exter_cond       2051 non-null   object
 30  foundation       2051 non-null   object
 31  bsmt_qual        1996 non-null   object
 32  bsmt_cond        1996 non-null   object
 33  bsmt_exposure    1993 non-null   object
 34  bsmtfin_type_1   1996 non-null   object
 35  bsmtfin_sf_1     2050 non-null   float64
 36  bsmtfin_type_2   1995 non-null   object
 37  bsmtfin_sf_2     2050 non-null   float64
 38  bsmt_unf_sf      2050 non-null   float64
 39  total_bsmt_sf    2050 non-null   float64
 40  heating          2051 non-null   object
 41  heating_qc       2051 non-null   object
 42  central_air      2051 non-null   object
 43  electrical       2051 non-null   object
 44  1st_flr_sf       2051 non-null   int64
 45  2nd_flr_sf       2051 non-null   int64
 46  low_qual_fin_sf  2051 non-null   int64
 47  gr_liv_area      2051 non-null   int64
 48  bsmt_full_bath   2049 non-null   float64
 49  bsmt_half_bath   2049 non-null   float64
 50  full_bath        2051 non-null   int64
 51  half_bath        2051 non-null   int64
 52  bedroom_abvgr    2051 non-null   int64
 53  kitchen_abvgr    2051 non-null   int64
 54  kitchen_qual     2051 non-null   object
 55  totrms_abvgrd    2051 non-null   int64
 56  functional       2051 non-null   object
 57  fireplaces       2051 non-null   int64
 58  fireplace_qu     1051 non-null   object
 59  garage_type      1938 non-null   object
 60  garage_yr_blt    1937 non-null   float64
 61  garage_finish    1937 non-null   object
 62  garage_cars      2050 non-null   float64
 63  garage_area      2050 non-null   float64
 64  garage_qual      1937 non-null   object
 65  garage_cond      1937 non-null   object
 66  paved_drive      2051 non-null   object
 67  wood_deck_sf     2051 non-null   int64
 68  open_porch_sf    2051 non-null   int64
 69  enclosed_porch   2051 non-null   int64
 70  3ssn_porch       2051 non-null   int64
 71  screen_porch     2051 non-null   int64
 72  pool_area        2051 non-null   int64
 73  pool_qc          9 non-null      object
 74  fence            400 non-null    object
 75  misc_feature     65 non-null     object
 76  misc_val         2051 non-null   int64
 77  mo_sold          2051 non-null   int64
 78  yr_sold          2051 non-null   int64
 79  sale_type        2051 non-null   object
 80  saleprice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [32]:
ames.isnull().sum().sort_values(ascending=False).head(27)

pool_qc           2042
misc_feature      1986
alley             1911
fence             1651
fireplace_qu      1000
lot_frontage       330
garage_finish      114
garage_cond        114
garage_qual        114
garage_yr_blt      114
garage_type        113
bsmt_exposure       58
bsmtfin_type_2      56
bsmtfin_type_1      55
bsmt_cond           55
bsmt_qual           55
mas_vnr_type        22
mas_vnr_area        22
bsmt_half_bath       2
bsmt_full_bath       2
garage_cars          1
garage_area          1
bsmt_unf_sf          1
bsmtfin_sf_2         1
total_bsmt_sf        1
bsmtfin_sf_1         1
overall_cond         0
dtype: int64

### False Nulls
According to the data dictionary, 'NA' can be used to indicate that a particular property attribute does not exist, amidst an otherwise ordinal list of ranking that attribute.  For instance, 'Rating of basement finished area' is on a scale of Unfinished up to Good Living Quarters, with NA indicating that there is no basement.  In this scenario, NA can = 0, Unfinished = 1, and Good Living Quarters = max.

NA is its own level of ordinal rank in the case of 11 variables.  6 share the same 6-level scale (NA, Po, Fa, TA, Gd, Ex).  The Pool category has all of these levels except for 'Po', so I will include it with these 6 variables as I numify the rankings (Pool rankings will then consist of NA=0, Fa=2, ... , Ex=6).  Apparently in Ames, any pool is already considered 'Fair', but as a water sport athlete I'd argue there are DEFINITELY 'Poor' pools and Ames county is ignoring a valuable metric.